html, body {
	font-family: 'Open Sans', sans-serif;
	background: #252525;
	color: #fff;
	font-size: 14px;
	position: relative;
}
body { margin: 10px; }
.left { float: left; }
.right { float: right; }
a {
	color: #09C;
	text-decoration: none;
	outline: none;
}
a.op_post::after { content: " (OP)"; }
a:hover { color: #09C; text-decoration: underline; }
hr {
	height: 1px;
	background: #383838;
	border: none;
	margin: 10px 0;
}
h2 {
    font-size: 1.4em;
    margin: 0 0 10px 0;
}
p {
    margin: 0 0 10px 0;
}
/* Index logo
 ================================== */
.index-logo {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  -webkit-user-select: none;
  cursor: default;
}



/* Header
 ================================== */
body.fixheader { margin-top: 40px; }
body.fixheader header {
    background: #252525;
    border-bottom: 1px solid #383838;
    position: fixed;
    left: 10px;
    right: 10px;
    top: 0;
    z-index: 66660;
}
header span {
	color: #383838;
	display: inline-block;
	margin: 0 15px;
	padding: 6px 0;
}
header span.menu {
    float: right;
}
header span a {
	color: #fff;
}



/* Form
 ================================== */
.form-name {
    text-align: center;
    display: block;
}
.board-name { text-align: center; }
.board-name a { color: #fff; }
.board-desc {
    font-size: 12px;
    color: #aaa;
    display: block;
}
.board-add {
    width: 600px;
    margin: 0 auto;
    color: #aaa;
}
.board-add #kasumi { width: 510px; }
.board-add #submit { width: 86px; }
.board-pagination {
    color: #aaa;
}


/* Page
 ================================== */
.page {
    width: 900px;
    margin: 25px auto;
    background: #1F1F1F;
    padding: 5px 10px;
}
.page h2 {
    padding: 5px 0;
    border-bottom: 1px solid #383838;
}


/* Post/Thread
 ================================== */
.post {
    background: #1F1F1F;
    margin: 3px 0px;
    padding: 5px 10px;
    display: inline-block;
}
.thread {
    background-color: initial;
    border: none;
    padding: 5px 0;
}
/* Posr Info */
.post-info {
    color: #AAA;
    font-size: .8em;
    margin-bottom: 4px;
}
.post-info span {
    margin-right: 4px;
}
.post-info a { color: #aaa; }
.post-info a:hover { color: #09C; text-decoration: none; }
/* Posr File */
.post-file {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.post-file a {
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: top;
}
.post-file a img {
    display: block;
}
.post-file a .file-info {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.62);
    color: #fff;
    padding: 2px 7px;
}
/* Post Text */
.post-text { margin: 5px 0; word-break: break-word; display: block; overflow: auto; }
.post-text p { margin: 0 0 3px 0; }

.subject {
    color: #09C;
    font-size: 1rem;
    font-weight: bold;
}
.sage { opacity: .6; }
.omitted {
    color: #AAA;
    font-size: .8em;
}

/* MarkUp */
.spoiler { background: #383838; color: #383838; }
.spoiler:hover { color: #fff; }
.spoiler a { color: #383838; }
.spoiler:hover a { color: #09C; text-decoration: underline; }
.quote { color: #789922; }
.underline { text-decoration: underline; }
pre {
    background: #252525;
    border: 1px solid #383838;
    overflow: auto;
    padding: 1em;
    border-radius: 3px;
    white-space: pre;
    font-size: .85em;
}

/* Board navigation */
.board-nav span {
    margin-right: 4px;
    font-size: 12px;
    color: #aaa;
}



/* Form control
 ================================== */
.form .form-control {
	margin: 5px 0;
}
.form .label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 17px;
}

/* Input's
 ================================== */
.input {
    background: #1F1F1F;
    color: #fff;
    border: 1px solid #383838;
    padding: 6px 15px;
    display: inline-block;
    outline: none;
    -webkit-transition: border .3s, background .3s, color .3s;
    transition: border .3s, background .3s, color .3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: .9em;
    line-height: 1.3;
}
.input:hover { color: #eee; border-color: #aaa; }
.input:focus { color: #fff; border-color: #09C; }

.btn {
    background-color: #1F1F1F;
    color: #aaa;
    border: 1px solid #383838;
    padding: 6px 10px;
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: border .3s, background .3s, color .3s;
    transition: border .3s, background .3s, color .3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: .9em;
    line-height: 1.3;
}
.btn:hover { color: #eee; border-color: #eee; text-decoration: none;}
.btn:focus { color: #fff; border-color: #09C; }

textarea {
    background: #1F1F1F;
    color: #fff;
    border: 1px solid #383838;
    padding: 6px 15px;
    display: inline-block;
    outline: none;
    -webkit-transition: border .3s, background .3s, color .3s;
    transition: border .3s, background .3s, color .3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
    font-size: .9em;
    line-height: 1.3;
}
textarea:hover { color: #eee; border-color: #aaa; }
textarea:focus { color: #fff; border-color: #09C; }

.checkbox,
.radio {
    position: relative;
    display: inline-block;
    font-size: .9em;
}
.checkbox input[type=checkbox],
.radio input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}
.checkbox label,
.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
}



/* Media 
 ================================== */
@media screen and (max-width: 923px) {
	.page { width: 100%; }
}
@media screen and (max-width: 650px) {
    body { margin: 5px; }
    header span { margin: 0 10px; }
    body.fixheader header { left: 5px; right: 5px; }
	.page { font-size: .85em; }
    .page h2 { text-align: center; }
    .board-add { width: 100%; }
    #kasumi { width: 100%!important; }
    #submit { width: 100%!important; margin: 4px 0 0 0; }
    #shampoo { height: 100px; }
    .subject { display: block; font-size: 16px; }
    .index-logo { font-size: 50px; width: 190px; }
    .post { margin: 1px 0; width: 100%; }
    .post-file { display: block; float: none; }
    .post-file a img { max-width: 130px; }
}


/* Notification 
 ================================== */
#ambiance-notification {
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 9999;
}
.ambiance {
    background: #1F1F1F;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: right;
    clear: both;
    opacity: .9;
}
.ambiance:hover { opacity: 1; }
.ambiance-title { font-weight: bold; }
/* Types */
.ambiance-default { border-color: #09C; }
.ambiance-success { border-color: #789922; }
.ambiance-error { border-color: #B94A48; }
/* Close */
.ambiance-close {
    display: block;
    position: relative;
    top: -2px;
    right: 0px;
    color: #FFFFFF;
    float: right;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    line-height: 14px;
    margin-left: 5px;
}
.ambiance-close:hover {
    color: #aaa;
    text-decoration: none;
}