/*
Green: #789922
Red: #B94A48;
Blue: #1C9BC5;
Yellow: #c5c11c;

Main text #37474F;
Gray text #ECEFF1;
*/

/* Staff
 ================================== */
 html, body {
    background-color: #EAEAEA;
    color: #37474F;
    font-family: "Open Sans", serif;
    line-height: 1.5;
    font-size: 14px;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

a {
	color: #e86b09;
	border-bottom: 1px solid rgba(232, 107, 9, 0.15);
	text-decoration: none;
}
a:hover {
	color: #096be8;
	border-bottom: 1px solid rgba(9, 107, 232, 0.15);
}
a:active {
	color: #d35400;
	border-bottom: 1px solid rgba(224,80,32,0.15);
}
a.op_post::after { content: " (OP)"; }

.warp {margin: 0 20px;overflow: hidden;}

.left { float: left; display: inline-block; }
.right { float: right; display: inline-block; }

h1 { font-size: 3.0em; margin: .4em 0; font-weight: 300; }
h2 { font-size: 2.5em; margin: .4em 0; font-weight: 300; }
h3 { font-size: 2.0em; margin: .4em 0; font-weight: 300; }
h4 { font-size: 1.5em; margin: .4em 0; font-weight: 300; }
h5 { font-size: 1.2em; margin: .4em 0; font-weight: 300; }

hr {border: none;border-bottom: 1px solid #e6e6e6;margin: 10px auto;}
b, strong { font-weight: 600; }

p { margin: 0 0 10px; }

header {
	font-size: 13px;
	padding: 10px 0;
	color: #AAA;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 1em;
}
.header__name { display: inline-block; }
.header__links { display: inline-block; }

.header__links li {
	display: inline-block;
	margin-right: 10px;
}
.header__links li:last-child{ margin: 0; }
.header__links li a {
}
footer {
	font-size: 13px;
	padding: 10px 0;
	color: #AAA;
	border-top: 1px solid #e6e6e6;
	margin-top: 1em;
}




/* Index section
 ================================== */
.index {
    height: 60vh;
    min-height: 300px;
    display: table;
    width: 100%;
}
.index > .warp {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.index__logo {
	color: #37474F;
	font-size: 106px;
	font-weight: 300;
	position: relative;
	width: 400px;
	margin: 0 auto;
	-webkit-user-select: none;
	cursor: default;
}
.index__logo:after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: #37474F;
	background: #EAEAEA;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse;
}
.index__logo:before {
	content: attr(data-text);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: #37474F;
	background: #EAEAEA;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.index__info {
    font-size: 30px;
    font-weight: 300;
    -webkit-user-select: none;
    cursor: default;
}



/* Board section
 ================================== */
.board {}
/* Board name and desc */
.board-name {
}
.board-desc {
	font-size: 13px;
	color: #AAA;
}
/* Board navigation */
.board-nav span {
	margin-right: 5px;
}
/* Board add post */
.board-add {
	width: 600px;
	margin: 10px auto;
	border-radius: 5px;
	padding: 0 5px;
	background: #e6e6e6;
	border: 1px solid #DDDDDD;
}
.board-add #kasumi {width: 483px;}
.board-add #submit {width: 100px;}


/* Post/Thread
 ================================== */
.post {
    background: #e6e6e6;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    min-width: 300px;
}
.thread {
	background-color: initial;
	border: none;
	padding: 5px 0;
}
/* Posr Info */
.post-info {
	font-size: 13px;
	color: #666;
	margin-bottom: 5px;
}
.post-info span {
	margin-right: 4px;
}
.post-info a {color: #37474F;border-bottom: none;}
.post-info a:hover {color: #000;text-decoration: none;}
/* Posr File */
.post-file {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.post-file a {
	display: inline-block;
	position: relative;
	vertical-align: top;
	border: none;
}
.post-file a img {
	display: block;
	border-radius: 5px;
}
.post-file a .file-info {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 10px;
	background: rgba(0, 0, 0, 0.62);
	border-radius: 5px 0 5px;
	color: #fff;
	padding: 2px 7px;
}
/* Post Text */
.post-text { margin: 5px 0; word-break: break-word; display: block; overflow: auto; }
.post-text p { margin: 0 0 3px 0; }

.subject {
	color: #000;
	font-size: 1rem;
	font-weight: bold;
}
/* nayn */
.nyan {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.nyan.nyan-sage {
	background: #B94A48;
}
.nyan.nyan-locked {
	background: #B94A48;
}
.nyan.nyan-sticky {
	background: #c5c11c;
}
.nyan.nyan-hide {
	background: #1C9BC5;
}
.omitted {
	color: #AAA;
	font-size: 13px;
}

/* MarkUp */
.spoiler { background: #383838; color: #383838; }
.spoiler:hover { color: #fff; }
.spoiler a { color: #383838; }
.spoiler:hover a { color: #1C9BC5; text-decoration: underline; }
.quote { color: #789922; }
.underline { text-decoration: underline; }
pre {
	background: #252525;
	border: 1px solid #383838;
	overflow: auto;
	padding: 1em;
	border-radius: 3px;
	white-space: pre;
	font-size: .85em;
}


/* Form control
 ================================== */
.form .form-name {
	text-align: center;
	display: block;
	font-size: 13px;
	margin: 5px 0;
	color: #666;
}
.form .form-control {
	margin: 5px 0;
}
.form .label {
	display: block;
	margin: 5px 0;
	font-weight: bold;
	font-size: 17px;
}


/* Input's and B. Button's
 ================================== */
/* Input's */
.input {
	background: #f5f5f5;
	color: #37474F;
	border: 1px solid #CCCCCC;
	padding: 6px 15px;
	display: inline-block;
	outline: none;
	-webkit-transition: border .3s, background .3s, color .3s;
	transition: border .3s, background .3s, color .3s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
}
.input:hover { background-color: #fefefe; border-color: #CCCCCC; text-decoration: none; }
/* Button's */
.btn {
	background-color: #f5f5f5;
	color: #37474F;
	border: 1px solid #CCCCCC;
	padding: 6px 10px;
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: border .3s, background .3s, color .3s;
	transition: border .3s, background .3s, color .3s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
}
.btn:hover {background-color: #fefefe;color: #37474F;border-color: #CCCCCC; text-decoration: none;}
.btn.btn-txt { background: transparent; border-color: transparent; }
.btn.btn-thread-refresh {
    padding: 10px 20px;
}
/* Sran gospodnya */
textarea {
	background: #f5f5f5;
	color: #37474F;
	border: 1px solid #CCCCCC;
	padding: 6px 15px;
	display: inline-block;
	outline: none;
	-webkit-transition: border .3s, background .3s, color .3s;
	transition: border .3s, background .3s, color .3s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	resize: vertical;
	width: 100%;
	font-size: 12px;
}
textarea:hover, textarea:focus {background-color: #fefefe;border-color: #CCCCCC;text-decoration: none;}
/* Radio and Check */
.checkbox,
.radio {
	position: relative;
	display: inline-block;
	font-size: .9em;
}
.checkbox input[type=checkbox],
.radio input[type=radio] {
	position: absolute;
	margin-top: 4px\9;
	margin-left: -20px;
}
.checkbox label,
.radio label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	cursor: pointer;
}






/* Media 
 ================================== */
@media screen and (max-width: 923px) {
	.page { width: 100%; }
}
@media screen and (max-width: 650px) {
	.index-logo { font-size: 50px; width: 190px; }
	.page { font-size: .85em; }
	.page .page-title { text-align: center; }
	.board-add { width: 100%; }
	#kasumi { width: 100%!important; }
	#submit { width: 100%!important; margin: 4px 0 0 0; }
	#shampoo { height: 100px; }
	.subject { display: block; font-size: 16px; }
	.post { margin: 1px 0; width: 100%; }
	.post-file { display: block; float: none; }
	.post-file a img { max-width: 130px; }
}



/* Index logo animation
 ================================== */
@keyframes noise-anim-2 {
  0%  { clip: rect(93px, 9999px, 20px, 0); }
  5%  { clip: rect(79px, 9999px, 54px, 0); }
  10% { clip: rect(48px, 9999px, 94px, 0); }
  15% { clip: rect(82px, 9999px, 6px, 0);  }
  20% { clip: rect(53px, 9999px, 79px, 0); }
  25% { clip: rect(97px, 9999px, 40px, 0); }
  30% { clip: rect(70px, 9999px, 42px, 0); }
  35% { clip: rect(61px, 9999px, 70px, 0); }
  40% { clip: rect(29px, 9999px, 77px, 0); }
  45% { clip: rect(37px, 9999px, 83px, 0); }
  50% { clip: rect(96px, 9999px, 95px, 0); }
  55% { clip: rect(65px, 9999px, 30px, 0); }
  60% { clip: rect(39px, 9999px, 23px, 0); }
  65% { clip: rect(63px, 9999px, 34px, 0); }
  70% { clip: rect(39px, 9999px, 12px, 0); }
  75% { clip: rect(81px, 9999px, 79px, 0); }
  80% { clip: rect(11px, 9999px, 39px, 0); }
  85% { clip: rect(77px, 9999px, 48px, 0); }
  90% { clip: rect(39px, 9999px, 54px, 0); }
  95% { clip: rect(31px, 9999px, 98px, 0); }
  100% { clip: rect(10px, 9999px, 5px, 0); }
}
@keyframes noise-anim {
  0%  { clip: rect(94px, 9999px, 96px, 0); }
  5%  { clip: rect(38px, 9999px, 62px, 0); }
  10% { clip: rect(73px, 9999px, 98px, 0); }
  15% { clip: rect(27px, 9999px, 79px, 0); }
  20% { clip: rect(100px, 9999px, 49px, 0); }
  25% { clip: rect(76px, 9999px, 23px, 0); }
  30% { clip: rect(14px, 9999px, 2px, 0); }
  35% { clip: rect(36px, 9999px, 21px, 0); }
  40% { clip: rect(43px, 9999px, 81px, 0); }
  45% { clip: rect(67px, 9999px, 15px, 0); }
  50% { clip: rect(25px, 9999px, 56px, 0); }
  55% { clip: rect(45px, 9999px, 86px, 0); }
  60% { clip: rect(74px, 9999px, 37px, 0); }
  65% { clip: rect(41px, 9999px, 76px, 0); }
  70% { clip: rect(8px, 9999px, 46px, 0);  }
  75% { clip: rect(96px, 9999px, 5px, 0);  }
  80% { clip: rect(69px, 9999px, 62px, 0); }
  85% { clip: rect(88px, 9999px, 30px, 0); }
  90% { clip: rect(49px, 9999px, 64px, 0); }
  95% { clip: rect(13px, 9999px, 63px, 0); }
  100% { clip: rect(32px, 9999px, 76px, 0); }
}





/* Notification 
 ================================== */
#ambiance-notification {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.ambiance {
    background: #e6e6e6;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 5px 0;
    float: right;
    clear: both;
    opacity: .9;
}
.ambiance:hover { opacity: 1; }
.ambiance-title { font-weight: bold; }
/* Types */
.ambiance-default { border-color: #DDDDDD; }
.ambiance-success { border-color: #789922; }
.ambiance-error { border-color: #B94A48; }
/* Close */
.ambiance-close {
    display: block;
    position: relative;
    top: -2px;
    right: 0px;
    float: right;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    line-height: 14px;
    margin-left: 5px;
}
.ambiance-close:hover {
    color: #aaa;
    text-decoration: none;
}


/*
	Dropdowns
	=========================================================
*/
.dropdown {
	position: relative;
}
.dropdown.open .dropdown_popup {
	display: block;
}
.dropdown .dropdown_toggler {
	position: relative;
	text-align: center;
}
.dropdown .dropdown_popup {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
    background: #1F1F1F;
    border: 1px solid #383838;
}
.dropdown .dropdown_popup a {
	padding: 5px 10px;
	display: block;
	white-space: nowrap;
	text-decoration: none;
}
